
.figure-number {
    display: none;
}




.img-container {
    width: max-content;
    font-size: 0;
}

.img {
    display: inline-block;
    margin-right: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.hs {
    display: grid;
    grid-gap: 10px;
    padding: 0 20px;
}
